.place {
    max-width: 984px;
    display: grid;
    gap: 48px 40px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    align-items: start;
    padding-bottom: 80px;
  }
  
  .place:last-child {
    padding-bottom: 0;
  }
  
  @media screen and (max-width: 1279px) {
    .place {
      max-width: 928px;
      gap: 48px 32px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .place {
      max-width: 720px;
      gap: 48px 28px;
      padding-bottom: 73px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .place {
      max-width: 320px;
      gap: 32px;
      padding-bottom: 50px;
      display: block;
    }
  }